:root {
  --gradient1-color1: hsla(241, 67%, 72%, 1);
  --gradient1-color2: transparent;
  --gradient1-position: 98% 80%;

  --gradient2-color1: hsla(298, 78%, 67%, 1);
  --gradient2-color2: transparent;
  --gradient2-position: 41% 3%;

  --gradient3-color1: hsla(330, 80%, 69%, 1);
  --gradient3-color2: transparent;
  --gradient3-position: 38% 92%;

  --gradient4-color1: hsla(61, 97%, 78%, 1);
  --gradient4-color2: transparent;
  --gradient4-position: 49% 64%;

  --gradient5-color1: hsla(171, 60%, 73%, 1);
  --gradient5-color2: transparent;
  --gradient5-position: 47% 12%;

  --gradient6-color1: hsla(348, 96%, 60%, 1);
  --gradient6-color2: transparent;
  --gradient6-position: 72% 40%;

  --gradient7-color1: hsla(109, 71%, 61%, 1);
  --gradient7-color2: transparent;
  --gradient7-position: 72% 53%;
}

html,
body {
  height: 100%; /* set the height to 100% to cover the entire viewport */
  margin: 0; /* remove any default margin */
  padding: 0; /* remove any default padding */
  background-color: #f0bef8;
  background-image: radial-gradient(
      at 98% 80%,
      rgb(231, 139, 136) 0px,
      transparent 50%
    ),
    radial-gradient(at 41% 3%, rgb(236, 162, 105) 0px, transparent 50%),
    radial-gradient(at 38% 92%, rgb(248, 193, 127) 0px, transparent 50%),
    radial-gradient(at 49% 64%, rgb(253, 204, 144) 0px, transparent 50%),
    radial-gradient(at 47% 12%, rgb(251, 232, 104) 0px, transparent 50%),
    radial-gradient(at 72% 40%, rgb(238, 142, 68) 0px, transparent 50%),
    radial-gradient(at 72% 53%, rgb(217, 155, 73) 0px, transparent 50%);
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
